export(Surv)
export(Surv2)
export(Surv2data)
export(aareg)
export(aeqSurv)
export(agexact.fit)
export(agreg.fit)
export(attrassign)
export(basehaz)
export(brier)
export(bcloglog)
export(blog)
export(blogit)
export(bprobit)
export(cipoisson)
export(cch)
export(cluster)
export(clogit)
export(concordance)
export(concordancefit)
export(cox.zph)
export(cox_zph)
export(coxph)
export(coxph.control)
export(coxph.detail)
export(coxph.fit)
export(coxph.wtest)
export(coxph_detail)
export(coxsurv.fit)
export(dsurvreg)
export(finegray)
export(frailty)
export(frailty.gamma)
export(frailty.gaussian)
export(frailty.t)
export(format.Surv)
export(fromtimeline)
export(is.ratetable)
export(is.na.Surv)
export(is.Surv)
export(lvcf)
export(match.ratetable)
export(neardate)
export(nostutter)
export(nsk)
export(pyears)
export(pseudo)
export(pspline)
export(psurvreg)
export(qsurvreg)
export(ratetable)
export(ridge)
export(royston)
export(rsurvreg)
export(ratetableDate)
export(rttright)
export(statefig)
export(strata)
export(survConcordance)
export(survConcordance.fit)
export(survcheck)
export(survcondense)
export(survdiff)
export(survexp)
export(survobrien)
export(survpenal.fit)
export(survSplit)
export(survfit)
export(survfit.formula)
export(survfitKM)
export(survfitcoxph.fit)
export(survfit0)
export(survfit_confint)
export(survival_python_config)
export(survreg)
export(survreg.control)
export(survreg.distributions)
export(survreg.fit)
export(survregDtest)
export(tcut)
export(tmerge)
export(totimeline)
export(untangle.specials)
export(yates)
export(yates_setup)
importFrom(stats, na.exclude)
importFrom(stats, na.fail)
importFrom(stats, na.omit)
importFrom(stats, na.pass)
importFrom(stats, aggregate)
importFrom(stats, anova)
importFrom(stats, as.formula)
importFrom(stats, coef)
importFrom(stats, confint)
importFrom(stats, deviance)
importFrom(stats, df.residual)
importFrom(stats, extractAIC)
importFrom(stats, fitted)
importFrom(stats, formula)
importFrom(stats, logLik)
importFrom(stats, median)
importFrom(stats, model.frame)
importFrom(stats, model.matrix)
importFrom(stats, predict)
importFrom(stats, nobs)
importFrom(stats, quantile)
importFrom(stats, residuals)
importFrom(stats, terms)
importFrom(stats, vcov)
importFrom(stats, weights)
importFrom(utils, head)
importFrom(utils, tail)
S3method("$", survival_py_survfit)
S3method("[[", survival_py_survfit)
S3method("[", Surv)
S3method("[", Surv2)
S3method("[", survival_py_surv)
S3method("[", survival_py_survfit)
S3method(Math, Surv)
S3method(Math, Surv2)
S3method(Math, survival_py_surv)
S3method(Ops, Surv)
S3method(Ops, Surv2)
S3method(Ops, survival_py_surv)
S3method(Summary, Surv)
S3method(Summary, Surv2)
S3method(Summary, survival_py_surv)
S3method(aggregate, survival_py_survfit)
S3method(anova, survival_py_model)
S3method(anyDuplicated, Surv)
S3method(anyDuplicated, Surv2)
S3method(anyDuplicated, survival_py_surv)
S3method(as.character, Surv)
S3method(attrassign, default)
S3method(attrassign, lm)
S3method(as.character, Surv2)
S3method(as.character, survival_py_surv)
S3method(as.data.frame, Surv)
S3method(as.data.frame, Surv2)
S3method(as.data.frame, survival_py_anova)
S3method(as.data.frame, survival_py_basehaz)
S3method(as.data.frame, survival_py_concordance)
S3method(as.data.frame, survival_py_cox_zph)
S3method(as.data.frame, survival_py_coxph_detail)
S3method(as.data.frame, survival_py_surv)
S3method(as.data.frame, survival_py_survdiff)
S3method(as.data.frame, survival_py_survfit)
S3method(as.list, survival_py_survfit)
S3method(as.logical, Surv)
S3method(as.logical, Surv2)
S3method(as.logical, survival_py_surv)
S3method(as.matrix, Surv)
S3method(as.matrix, Surv2)
S3method(as.matrix, survival_py_surv)
S3method(c, Surv)
S3method(c, Surv2)
S3method(c, survival_py_surv)
S3method(coef, concordance)
S3method(coef, survival_py_concordance)
S3method(coef, survival_py_model)
S3method(coef, survival_py_survfit)
S3method(concordance, default)
S3method(concordance, survival_py_model)
S3method(confint, survival_py_model)
S3method(confint, survival_py_survfit)
S3method(deviance, survival_py_model)
S3method(df.residual, survival_py_survreg)
S3method(dim, survival_py_survfit)
S3method(duplicated, Surv)
S3method(duplicated, Surv2)
S3method(duplicated, survival_py_surv)
S3method(extractAIC, survival_py_model)
S3method(fitted, survival_py_model)
S3method(formula, survival_py_model)
S3method(format, survival_py_surv)
S3method(format, Surv)
S3method(format, Surv2)
S3method(head, Surv)
S3method(head, survival_py_surv)
S3method(is.na, survival_py_surv)
S3method(is.na, Surv)
S3method(is.na, Surv2)
S3method(labels, survival_py_model)
S3method(length, Surv)
S3method(length, survival_py_surv)
S3method(length, survival_py_survfit)
S3method(levels, Surv)
S3method(levels, survival_py_surv)
S3method(lines, survival_py_survfit)
S3method(logLik, survival_py_model)
S3method(median, Surv)
S3method(median, survival_py_surv)
S3method(median, survival_py_survfit)
S3method(model.frame, formula)
S3method(model.frame, survival_py_model)
S3method(model.frame, survival_py_survfit)
S3method(model.matrix, survival_py_model)
S3method("names<-", Surv)
S3method("names<-", survival_py_surv)
S3method(names, Surv)
S3method(names, survival_py_surv)
S3method(names, survival_py_survfit)
S3method(nobs, survival_py_model)
S3method(plot, survival_py_survfit)
S3method(points, survival_py_survfit)
S3method(predict, survival_py_model)
S3method(print, concordance)
S3method(print, Surv)
S3method(print, Surv2)
S3method(print, survival_py_model)
S3method(print, survival_py_object)
S3method(print, summary.survival_py_model)
S3method(print, survival_py_anova)
S3method(print, survival_py_basehaz)
S3method(print, survival_py_concordance)
S3method(print, survival_py_cox_zph)
S3method(print, survival_py_coxph_detail)
S3method(print, survival_py_surv)
S3method(print, survival_py_survdiff)
S3method(print, survival_py_survfit)
S3method(quantile, Surv)
S3method(quantile, survival_py_surv)
S3method(quantile, survival_py_survfit)
S3method(rep, Surv)
S3method(rep, Surv2)
S3method(rep, survival_py_surv)
S3method(rep.int, Surv)
S3method(rep.int, Surv2)
S3method(rep.int, survival_py_surv)
S3method(rep_len, Surv)
S3method(rep_len, Surv2)
S3method(rep_len, survival_py_surv)
S3method(residuals, survival_py_model)
S3method(residuals, survival_py_survfit)
S3method(rev, Surv)
S3method(rev, Surv2)
S3method(rev, survival_py_surv)
S3method(summary, survival_py_anova)
S3method(summary, survival_py_basehaz)
S3method(summary, survival_py_concordance)
S3method(summary, survival_py_cox_zph)
S3method(summary, survival_py_coxph_detail)
S3method(summary, survival_py_model)
S3method(summary, survival_py_survdiff)
S3method(summary, survival_py_survfit)
S3method(survfit, character)
S3method(survfit, formula)
S3method(survfit, Surv)
S3method(survfit, survival_py_coxph)
S3method(survfit, survival_py_surv)
S3method(t, Surv)
S3method(t, Surv2)
S3method(t, survival_py_surv)
S3method(tail, Surv)
S3method(tail, Surv2)
S3method(tail, survival_py_surv)
S3method(terms, survival_py_model)
S3method(unique, Surv)
S3method(unique, survival_py_surv)
S3method(vcov, concordance)
S3method(vcov, survival_py_concordance)
S3method(vcov, survival_py_model)
S3method(vcov, survival_py_survfit)
S3method(weights, survival_py_model)
S3method(xtfrm, Surv)
S3method(xtfrm, survival_py_surv)
S3method(yates_setup, coxph)
S3method(yates_setup, default)
S3method(yates_setup, glm)
S3method(yates_setup, survival_py_coxph)
